@import "tailwindcss";

/* This tells Tailwind v4 how to handle the .dark class */
@variant dark (&:where(.dark, .dark *));

:root {
  --background: white;
  --foreground: #111827;
}

.dark {
  --background: #030712;
  --foreground: #f3f4f6;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}